<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.marpol.rent.dao.BookDao">

	<insert id="insert" parameterType="BookDto">
	insert into tbl_books (
		b_code, b_name, b_auther, b_comp, b_year, b_iprice, b_rprice
) values (
		#{b_code}, #{b_name}, #{b_auther}, #{b_comp}, #{b_year}, #{b_iprice}, #{b_rprice}
)
	</insert>

	<select id="create_book_table">
	create table if NOT EXISTS tbl_books (
	b_code	varchar(13)	not null	primary key,
	b_name	varchar(125)	NOT NULL,	
	b_auther	varchar(125)	NOT NULL	,
	b_comp	varchar(125),		
	b_year	int	NOT NULL,	
	b_iprice	int,		
	b_rprice	int	NOT NULL
)
	</select>
	
	<update id="update">
	
	UPDATE tbl_books
		SET  
			b_name = #{b_name}, 
			b_auther = #{b_auther}, 
			b_comp = #{b_comp}, 
			b_year = #{b_year}, 
			b_iprice = #{b_iprice}, 
			b_rprice = #{b_rprice}
		WHERE b_code = #{b_code}
	
	</update>
	
	<select id="selectSearchCount">
	
	SELECT COUNT(*) FROM tbl_books
	WHERE
		<foreach collection="list" item="S" separator=" OR ">
			b_name LIKE CONCAT ('%', #{S}, '%')
		</foreach>
		
	</select>
	
	<select id="selectSearchPage">

	SELECT * FROM tbl_books
	WHERE
		<foreach collection="list" item="S" separator=" OR ">
			b_name LIKE CONCAT ('%', #{S}, '%')
		</foreach>
		LIMIT #{limit} OFFSET #{offset}
	</select>
 
 </mapper> 