<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.marpol.rent.dao.RentBookDao">

	<select id="selectAll" resultType="RentBookVO">
	select * from tbl_rent_book R
	LEFT JOIN tbl_members M
		ON R.r_mcode = M.m_code
	LEFT JOIN tbl_books B
		ON R.r_bcode = B.b_code
	</select>
	
	<select id="findById" resultType="RentBookVO">
	select * from tbl_rent_book R
	LEFT JOIN tbl_members M
		ON R.r_mcode = M.m_code
	LEFT JOIN tbl_books B
		ON R.r_bcode = B.b_code
	WHERE R.r_seq = #{id}
	</select>
	
	<select id="findByBCode" resultType="RentBookVO">
	select * from tbl_rent_book R
	LEFT JOIN tbl_members M
		ON R.r_mcode = M.m_code
	LEFT JOIN tbl_books B
		ON R.r_bcode = B.b_code
	WHERE R.r_bcode = #{code}
	</select>
	
	<select id="findByMCode" resultType="RentBookVO">
	select * from tbl_rent_book R
	LEFT JOIN tbl_members M
		ON R.r_mcode = M.m_code
	LEFT JOIN tbl_books B
		ON R.r_bcode = B.b_code
	WHERE R.r_mcode = #{code}
	</select>

	<insert id="insert" parameterType="RentBookVO">
	
	insert into tbl_rent_book (
	r_date, r_return_date, r_bcode, r_mcode, r_return_yn, r_price
) values (
	#{r_date}, #{r_return_date}, #{r_bcode}, #{r_mcode}, 'N', #{r_price}
)	

	</insert>
	
	

	<select id="create_rent_book_table">
	create table if NOT EXISTS tbl_rent_book (
	
	r_seq	bigint	NOT NULL	primary key auto_increment,
	r_date	varchar(10)	NOT NULL,	
	r_return_date	varchar(10)	NOT NULL,
	r_bcode	varchar(13)	NOT NULL,	
	r_mcode	varchar(6)	NOT NULL,	
	r_return_yn	varchar(1),		
	r_point	int,		
	r_price	int		
		
)
	</select>
	
	<update id="update">
	
	UPDATE tbl_members
		SET  
			m_name = #{m_name}, 
			m_tel = #{m_tel}, 
			m_addr = #{m_addr} 
		WHERE m_code = #{m_code}
	
	</update>
 
 </mapper> 